mixin picture(args)
    - var classList = '';
    if (args && args.classList)
        each classItem in args.classList
            - classList += `picture_${classItem} `
    picture.picture(class= args.classList ? classList : '')&attributes(attributes)
        if (args && args.sources)
            each source in args.sources
                source(srcset= source.srcset media= source.media ? source.media : null)
        if (args && args.img)
            +img({
                path: args.img,
                alt: args.alt ? args.alt : false,
                lazy: args.lazy ? args.lazy: true
            })(data-object-fit= args.objectFit ? args.objectFit : false data-object-position= args.objPos ? args.objPos.join(' '): false)
