
.infoblock-line {
    $root: &;
    height: 195px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    margin-top: -1px;  // чтобы border'ы не накладывались)

    &__num {
        width: $col-width * 5;
        @include font-3;

        sub {
            bottom: 0;
            @include font-2(700);
        }
    }

    &__text {
        width: $col-width * 5;
        height: 70%;
        @include font-2(300);
    }
    
    &__big {
        width: $col-width * 8;
    }
}