.preloader {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    pointer-events: none;

    &__progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: transparent;
        border-bottom: 4px solid $color-1;
        transition: width 0.5s;
        will-change: width;
    }

    &__logo {
        width: smooth-value(220px, 437px, $mobile-min-width, $fhd-width, 'w');
        height: smooth-value(100px, 181px, $mobile-min-height, $fhd-height, 'h');
        animation-duration: 1s;
        animation-delay: 1s;
        opacity: 0;
        visibility: hidden;
    }


    @media print {
        display: none !important;
    }
}
