$color-1: #202020;  // del after start
$black-1: #000;
$black-2: #1C1C1C;
$black-3: #101010;

$grey-1: #D6D6D6;
$grey-2: #C4C4C4;

$white-1: #fff;
$white-2: #F6F6F6;
$white-2: #E6E6E6;

$error-color: #EB5757;

$main-color: #5551F7;
$blue-2: #5450F2;  // ?