$color-1: #202020;  // del after start
$Black-1: #000;
$Black-2: #1C1C1C;
$Black-3: #101010;

$Grey-1: #D6D6D6;
$Grey-2: #C4C4C4;

$White-1: #fff;
$White-2: #F6F6F6;
$White-2: #E6E6E6;

$Red-1: #EB5757;

$Blue-1: #5551F7;
$Blue-2: #5450F2;  // ?