@import './functions';
@import './variables';
@import './custom';
@import './colors';
@import './typography';
@import './utils';
@import '~swiper/dist/css/swiper.min';
@import '~simplebar/dist/simplebar.min';
@import '../../layout/layout';
@import '~perfect-scrollbar/css/perfect-scrollbar';
@import '~hyperform/css/hyperform';
@import '../../components/header/header';
@import '../../components/footer/footer';
@import '../../components/sandwich-menu/sandwich-menu';
@import '../../components/preloader/preloader';
@import '../../pages/index/index';
@import '../../pages/tests/tests';
@import '../../components/picture/picture';
